@model A3Group.Models.A3Group_Blog
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<link href="~/Content/Webmaster/assets/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" type="text/css" />
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Quản lý Bài viết</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h3>Chỉnh sửa Bài viết</h3>
                    <hr />
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <label class="panel-title">Tiêu đề (VUI LÒNG NHẬP DƯỚI 200 KÍ TỰ)</label>
                            <input maxlength="200" type="text" name="title" id="title" class="form-control" placeholder="" value="@Model.Title">
                            <input type="hidden" id="ID" value="@Model.ID">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="panel-title">Người đăng (VUI LÒNG NHẬP DƯỚI 100 KÍ TỰ)</label>
                                    <input maxlength="100" type="text" name="name" id="name" class="form-control" placeholder="" value="@Model.CreatedBy">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="panel-title">Loại bài viết (VUI LÒNG NHẬP DƯỚI 100 KÍ TỰ)</label>
                                    <input maxlength="100" type="text" name="type" id="type" class="form-control" placeholder="" value="@Model.Type">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Hình ảnh</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div id="imageblog">
                                            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="panel-title">Nội dung (VUI LÒNG NHẬP DƯỚI 250 KÍ TỰ)</label>
                            <textarea type="text" cols="50" style="height: 200px" name="description" id="description" class="form-control" placeholder="">@Model.ContentBlog</textarea>
                        </div>

                        <button type="submit" class="btn btn-info btn-adon m-b-xxs" onclick="javascript:return ShowMessage();">LƯU</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ShowMessage() {
        var result = confirm("Bạn có muốn lưu thông tin?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }

    $(document).ready(function () {

        $('.panel-body form').on('submit', function (event) {
            event.preventDefault();
            //Get data
            const Id = $('input[type="hidden"]').val();
            const title = ($('#title').val());
            const name = ($('#name').val());
            const type = ($('#type').val());
            const description = ($('#description').val());
            //Json
            const data = {
                ID: Id,
                Title: title,
                CreatedBy: name,
                Type: type,
                ContentBlog: description,
            };
            if (name != '' && type != '' && description != '' && title != '') {
                $.ajax({
                    async: true,
                    data: JSON.stringify(data),
                    type: 'POST',
                    url: '/blogmaster/edit',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    error: function (data) {
                        alert(data.Message);
                    },
                    success: function (data) {
                        alert(data.Message);
                        window.location.href = "/blogmaster/List"
                    }
                });
            }

        });

    });
</script>
<script src="~/Content/WebMaster/assets/plugins/plupload/js/plupload.full.min.js"></script>
<script src="~/Content/WebMaster/assets/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script src="~/Content/WebMaster/assets/js/pages/form-file-upload.js"></script>

